.account {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
    margin-top: 3rem;
    
    @include mq("tablet", "max") {
        flex-direction: column;
    }

    &__main-content {
        display: flex;
        align-items: center;

        @include mq("tablet", "max") {
            margin-bottom: 3rem;
            justify-content: center;
        }
    }

    &__action-content {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        @include mq("tablet", "max") {
            justify-content: center;
        }
    }

    &__details {
        display: flex;
        align-items: center;
    }

    &__image {
        border-radius: 100%;
        margin-right: .8rem;
        width: 100px;
        height: 100px;
    }

    &__intro {
        margin-bottom: 0;
        font-weight: bold;
        font-size: .9rem;
        color: #142550;
    }

    &__name {
        @include light-font();
        font-size: 2rem;
        color: #142550;
    }
}