.medc {
    &-font {
        &--light-blue {
            color: #3faad4;
        }

        &--blue {
            color: #236faa;
        }

        &--dark-blue {
            color: #083682;
        }

        &--light {
            font-family: "Avenir LT W01_35 Light1475496",
                Helvetica,
                Arial,
                sans-serif;
        }
    }
}